<div class="main">
  <div class="container">
    <div class="row">
      <div
        class="col-xs-12 col-md-10 col-sm-12 col-lg-10 offset-md-1 offset-lg-1"
      >
        <div class="card jumbotron">
          <div id="slider">
            <!-- <carousel [images]="images"> </carousel> -->
            <carousel>
              <div class="carousel-cell">
                <img src="./assets/images/3.jpg" />
              </div>
              <div class="carousel-cell">
                <img src="./assets/images/4.jpg" />
              </div>
              <div class="carousel-cell">
                <img src="./assets/images/7.jpg" />
              </div>
            </carousel>
          </div>
          <div class="card-body">
            <h3 class="card-title">Welcome to Scholar Quiz...</h3>
            <h5 class="card-text">
              Once you choose <b>HOPE</b> anything is <b>POSSIBLE😀</b>
            </h5>
            <div class="pt-4 start">
              <button class="btn btn-success btn-lg" routerLink="/quiz">
                Start Quiz
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
